PORT=3001
BASE_URL="http://localhost:3000/v1"
ALLOWED_ORIGINS="your_allowed_origins_here"

DATABASE_URL="your_database_url_here" 
REDIS_URL="your_redis_url_here"

RESEND_API_KEY="your_resend_api_key_here"
RESEND_FROM_EMAIL="your_resend_from_email_here"


JWT_SECRET="your_jwt_secret_here"
JWT_REFRESH_SECRET="your_jwt_refresh_secret_here"
JWT_RESET_SECRET="your_jwt_reset_secret_here"

GOOGLE_CLIENT_ID="your_google_client_id_here"
GOOGLE_CLIENT_SECRET="your_google_client_secret_here"
GOOGLE_CALLBACK_URL="your_google_callback_url_here"

# API keys for AI services
GROQ_API_KEY="your_groq_api_key_here"
CEREBRAS_API_KEY="your_cerebras_api_key_here"
GEMINI_API_KEY_TEXT="your_gemini_api_key_here"
GEMINI_API_KEY_VOICE="your_gemini_voice_api_key_here"

# URL for microservices
PYTHON_SERVICE_URL="your_python_service_url_here"
GOLANG_SERVICE_URL="your_golang_service_url_here"

# Storage configuration
MINIO_ENDPOINT="your_minio_endpoint_here"
MINIO_ACCESS_KEY="your_minio_access_key_here"
MINIO_SECRET_KEY="your_minio_secret_key_here"

# postgresql://neondb_owner:npg_XH5GvTo4VscA@ep-patient-bread-a8ptv7fe.eastus2.azure.neon.tech/neondb?sslmode=require
# https://sharp-aardvark-93900.upstash.io
# redis://default:gQAAAAAAAW7MAAIncDE1NjA4OGZhNTQ2ODQ0ZDUxOTIxYTNmMGQ5ZDJiNWUxM3AxOTM5MDA@sharp-aardvark-93900.upstash.io:6379